<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - {{ sitename }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Le styles -->
        <link href="{{ app.request.uriForPath('/assets/css/bootstrap.css') }}" rel="stylesheet">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
    {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url('home') }}">{{ sitename }}</a>
          {% for route, text in navigation %}
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{% if route == current_nav %} class="active"{% endif %}><a href="{{ url(route) }}">{{ text }}</a></li>
            </ul>
          </div>
          {% endfor %}
          <div class="user-section pull-right">
              {% if user is empty %}
                    {% include 'user.notlogged.twig' %}
              {% else %}
                    {% include 'user.logged.twig' %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="container main-container">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ app.request.uriForPath('/assets/js/jquery.js') }}"></script>
    <script src="{{ app.request.uriForPath('/assets/js/bootstrap.js') }}"></script>
    <script src="{{ app.request.uriForPath('/assets/js/gazoo.js') }}"></script>
	<input id="baseUrl" type="hidden" value="{{ url('home') }}" />
  </body>
</html>
