{% extends "layout.twig" %}

{% block title %}Search Result{% endblock %}

{% block content %}
    <h1>Search Results for "{{ search_query }}"</h1>
    <p class="lead"><b>{{ total_result }}</b> events found</p>
    {% include 'search.form.twig' %}
    <div class="listing">
    {% for event in events %}
        <div class="listing-row">
            <strong>{{ event.name|convert_encoding('UTF-8', 'ISO-8859-1') }}</strong> - <a href="{{ url('calendar', {id: event.subject_id}) }}">{{ event.subject_name }}</a>{% include 'follow.button.twig' with {id: event.subject_id} %}
            <p>
                {{ event.description }} <br />
                <small>
                {% if event.start and event.end %}
                    Starting on {{ event.start|date() }} and ending on {{ event.end|date() }}
                {% else %}
                    Date : {{ event.start }}
                {% endif %}
                </small>
            </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
