{% extends "layout.twig" %}

{% block title %}Search Result{% endblock %}

{% block body_id %}{{ search_query|e('html_attr') }}{% endblock %}

{% block content %}
    {% include 'search.form.twig' %}
    <div class="results-count"><b>{{ total_result }}</b> kalendy : let's follow :]</div>
    <div class="results-listing">
    {% for cal in calendars %}
        <div class="results-listing-row">
            <div class="pull-right">{% include 'follow.button.twig' with {id: cal.subject_id} %}</div>
            <div class="calendar-name">
                <a href="{{ url('calendar', {id: cal.subject_id}) }}" data-html="true" data-trigger="hover" data-content="{{ cal.subject_description }}</br><a href='#'>Lien sponsorisé</a>">{{ cal.subject_name }}</a>
            </div>
            <strong>{{ cal.subject_category }}</strong>
            <p>
                <span class="next-event">Next event :</span> {{ cal.name }}
                <br />
                <small>
                {% if cal.start and cal.end %}
                    {{ cal.start|date() }} to {{ cal.end|date() }}
                {% else %}
                    Date : {{ cal.start }}
                {% endif %}
                </small>
            </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
