{% extends "layout.twig" %}

{% block title %}Search Result{% endblock %}

{% block body_id %}{{ search_query|e('html_attr') }}{% endblock %}

{% block content %}
    {% include 'search.form.twig' %}
    <div class="results-count"><b>{{ total_result }}</b> kalendy : let's follow :]</div>
    <div class="results-listing">
    {% for cal in calendars %}
        <div class="results-listing-row">
            <strong><a href="{{ url('calendar', {id: cal.subject_id}) }}">{{ cal.subject_name }}</a> ({{ cal.subject_category }})</strong> - {{ cal.subject_description }}{% include 'follow.button.twig' with {id: cal.subject_id} %}
            <h5>Next event</h5>
            <p>
                {{ cal.name }} <br />
                <small>
                {% if cal.start and cal.end %}
                    Starting on {{ cal.start|date() }} and ending on {{ cal.end|date() }}
                {% else %}
                    Date : {{ cal.start }}
                {% endif %}
                </small>
            </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
